*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../image/background.jpg);
    font-family: Arial, Helvetica, sans-serif;

}
#canvas{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
    z-index: -1px;
    overflow: hidden;
}
.load{
    width: 300px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:0 15px 25px rgba(0, 0, 0, 0.6) ;
}

.switch span{
    font-size: 19.6px;
    width: 70px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 25%;
    top: 50px;
    color: white;
    display: inline-block;
    perspective: 400px;
    background-color: #03e9f4;
    
}
.switch span:hover{
    /* color: #99CC33; */
    cursor: pointer;
    transform: perspective(400px) translateZ(50px);
    transition: 1s;
}

#login{
    border: transparent 1px solid;
    background-color: transparent;
    color: #03e9f4;
}
#sign{
    border: transparent 1px solid;
    background-color: transparent;
    color: #fff;
}



.text{
    color: white;
    width: 240px;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid #fff;
    margin: 10px auto;
    padding-left: 30px;
    margin: 10px 0;
    background: transparent;
}
input::-webkit-input-placeholder{
    color: #fff;
}
.user{
    background-image: url(../image/user.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;

}
.pw{
    background-image: url(../image/password.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
}


.btn{
    width: 120px;
    height: 40px;
    position: absolute;
    left: 48%;
    top: 250px;
    transform: translate(-50%,0);
    border: transparent solid 1px;
    cursor: pointer;
    background-color: transparent;
    color: #03e9f4;
    transition: 0.5s;
    animation: btn 1s linear infinite;
    box-sizing: border-box;
}

@keyframes btn{
    0%{
        box-shadow:-2px 0 5px 0 #03e9f4;
    }
    25%{
        box-shadow:0 -2px 5px 0 #03e9f4;
    }
    50%{
        box-shadow:2px 0 5px 0 #03e9f4;
    }
    75%{
        box-shadow:0 2px 5px 0 #03e9f4;
    }
    100%{
        box-shadow:-2px 0 5px 0 #03e9f4;
    }
    
}
.btn:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}


.login{
    visibility: visible;
    opacity: 100;
    transition: 1s;
    position: absolute;
    top: 100px;
    left: 15px;
}

.register{
    position: absolute;
    top: 100px;
    left: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;

}

.tip{
    font-size: 12px;
    color: #03e9f4;
    margin: 1px 0;
    visibility: hidden;
}
.ico1{
    position: absolute;
    top: 13%;
    left: 85%;
    visibility: hidden;
}
.ico2{
    position: absolute;
    top: 58%;
    left: 85%;
    visibility: hidden;
}
.ico3{
    position: absolute;
    top: 10%;
    left: 85%;
    visibility: hidden;
}
.ico4{
    position: absolute;
    top: 43%;
    left: 85%;
    visibility: hidden;
}
.ico5{
    position: absolute;
    top: 77%;
    left: 85%;
    visibility: hidden;
}